<div class="page-header section-dark" style="background-image: url('/Areas/Site/Content/assets/img/iti.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">ITI Academy</h1>
                <div class="fog-low">
                    <img src="/Areas/Site/Content/assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="/Areas/Site/Content/assets/img/fog-low.png" alt="">
                </div>
            </div>
            <h2 class="presentation-subtitle text-center">Learn And Improve Your Skills With Us! </h2>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('/Areas/Site/Content/assets/img/clouds.png'); "></div>
    <h6 class="category category-absolute">
        Designed and coded by Sallam-Magdy
    </h6>
</div>
