
<!-- Slider left and right-->
<section>

    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="~/Areas/Dashboard/Content/images/user.png" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</div>
                <div class="btn-group user-helper-dropdown">
                    <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                    <ul class="dropdown-menu pull-right">
                        <li><a href="#"><i class="material-icons">person</i>Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="material-icons">group</i>Followers</a></li>
                        <li><a href="#"><i class="material-icons">shopping_cart</i>Sales</a></li>
                        <li><a href="#"><i class="material-icons">favorite</i>Likes</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#"><i class="material-icons">input</i>Sign Out</a>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <div class="btn btn-default" style="color:black">
                                    <span class="material-icons">input</span>
                                    <input type="submit" value="Logout" class="item" />
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">MAIN NAVIGATION</li>
                <!--Dashboard Home Link-->
                <li class="active">
                    <a href="/Dashboard/Home/Index">
                        <i class="material-icons">home</i>
                        <span>Home</span>
                    </a>
                </li>
                <!--Roles Link-->
                <li>
                    <a href="/Dashboard/Roles/Index">
                        <i class="material-icons">local_police</i>
                        <span>Roles</span>
                    </a>
                </li>
                <!--Admins Link-->
                <li>
                    <a href="/Dashboard/Roles/Index">
                        <i class="material-icons">admin_panel_settings</i>
                        <span>Admins</span>
                    </a>
                </li>
                <!--Department Link-->
                <li>
                    <a href="/Dashboard/Departments/Index">
                        <i class="material-icons">widgets</i>
                        <span>Departments</span>
                    </a>
                </li>
                <!--Courses Link-->
                <li>
                    <a href="/Dashboard/Cources/Index">
                        <i class="material-icons">storage</i>
                        <span>Courses</span>
                    </a>
                </li>
                <!--professors Link-->
                <li>
                    <a href="/Dashboard/Professors/Index">
                        <i class="material-icons">people_alt</i>
                        <span>Professors</span>
                    </a>
                </li>
                <!--Students Link-->
                <li>
                    <a href="/Dashboard/Students/Index">
                        <i class="material-icons">face</i>
                        <span>Students</span>
                    </a>
                </li>
                <!--Students Link-->
                <li>
                    <a href="/Dashboard/Pages/Index">
                        <i class="material-icons">pages</i>
                        <span>Pages</span>
                    </a>
                </li>
                <!--Messages Link-->
                <li>
                    <a href="/Dashboard/Messages/Index">
                        <i class="material-icons">message</i>
                        <span>Messages</span>
                    </a>
                </li>

                
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2020 <a href="#">Team : Sallam - Magdy</a>.
            </div>
        </div>
        <!-- #Footer -->
    </aside>
    <!-- #END# Left Sidebar -->

</section>
<!-- #Slider left and right-->