USE [master]
GO
/****** Object:  Database [ITIProjectDB]    Script Date: 10/12/2020 2:03:58 PM ******/
CREATE DATABASE [ITIProjectDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ITIProjectDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ITIProjectDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ITIProjectDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ITIProjectDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ITIProjectDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ITIProjectDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/12/2020 2:03:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cources]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cources](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Free] [bit] NOT NULL,
	[Cost] [float] NOT NULL,
	[Hours] [int] NOT NULL,
	[Degree] [int] NOT NULL,
	[MinDegree] [int] NOT NULL,
	[Course_Department_ID] [int] NULL,
	[Course_Professor_ID] [int] NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cources] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Manager_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessions]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[SubTitle] [nvarchar](100) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[course_id] [int] NULL,
 CONSTRAINT [PK_dbo.Lessions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Time] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pages]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[SubTitle] [nvarchar](100) NULL,
	[Content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Pages] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professors]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Salary] [float] NOT NULL,
	[Professor_Department_ID] [int] NULL,
	[Roles] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Professors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Level] [int] NOT NULL,
	[BirthYear] [int] NOT NULL,
	[Student_Department_ID] [int] NULL,
	[Student_Professor_supervisior_ID] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Roles] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students_Cources]    Script Date: 10/12/2020 2:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students_Cources](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Student_ID] [int] NULL,
	[Course_ID] [int] NULL,
 CONSTRAINT [PK_dbo.Students_Cources] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'ac66b675-aecc-4d2a-ad75-caef3f4593bd', N'Admins')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'b7fe52c7-1bf8-4e3a-8870-c2d4f608071a', N'Managers')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'eb00bda9-7a17-4407-b4cb-2c70217ecca3', N'Professors')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'141002db-263b-4102-a628-84e0a597ee62', N'1ebb33ac-d41b-448d-8e1f-463d1cfcf781')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'923513bc-daeb-4269-86f7-83ff1b714cc0', N'1ebb33ac-d41b-448d-8e1f-463d1cfcf781')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a4d00e43-c134-4c69-8fe7-f99443986bfe', N'1ebb33ac-d41b-448d-8e1f-463d1cfcf781')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Image], [Role]) VALUES (N'09c835f3-6086-4b09-8da4-5bde328d0ec2', N'sallam@test.com', 0, N'AKsy0+ONOhElCukgZuCHiWJANxS8dmxV1cULmbtSSTvY5a3U5WAlD/H0md2IRQ8D4g==', N'a5438b05-308a-47f6-8f62-c160f0667be0', NULL, 0, 0, NULL, 1, 0, N'sallam@test.com', N'/Content/Images/default.png', N'Student')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Image], [Role]) VALUES (N'0b8c730f-fa23-4687-908f-c98c82405c6d', N'Test@gmail.com', 0, N'AHnjp97f0UM1y0igfOn6gO2Ql6VKs64NDIzWu4sgfSbM0GdOrPuxzV0Pgqm0ymI/dw==', N'73bfaf65-a009-41a0-ba30-0529bc341f06', NULL, 0, 0, NULL, 0, 0, N'test', N'/Content/Images/default.png', N'Student')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Image], [Role]) VALUES (N'141002db-263b-4102-a628-84e0a597ee62', N'Sultan@Sultan.com', 0, N'ADTY29QHjEE51ZoimEt4WPPCO5duTwbqdsZmeYSUOnICmBPFH3m8IZk1ODgfXTJbHw==', N'cf79abd2-80ef-4372-8af8-7f42522bdc15', NULL, 0, 0, NULL, 0, 0, N'Sultan', N'/Content/Images/default.png', N'Student')
GO
SET IDENTITY_INSERT [dbo].[Cources] ON 

INSERT [dbo].[Cources] ([ID], [Name], [Free], [Cost], [Hours], [Degree], [MinDegree], [Course_Department_ID], [Course_Professor_ID], [Image]) VALUES (1, N'PHP', 0, 0, 12, 100, 50, 12, 2, N'/Content/Images/anonymous-4k-wonderful-desktop-wallpaper-preview202619970.jpg')
INSERT [dbo].[Cources] ([ID], [Name], [Free], [Cost], [Hours], [Degree], [MinDegree], [Course_Department_ID], [Course_Professor_ID], [Image]) VALUES (2, N'Cpp', 0, 0, 9, 100, 40, 6, 2, N'/Content/Images/course.png')
INSERT [dbo].[Cources] ([ID], [Name], [Free], [Cost], [Hours], [Degree], [MinDegree], [Course_Department_ID], [Course_Professor_ID], [Image]) VALUES (3, N'Csharp', 0, 0, 12, 120, 60, 6, 6, N'/Content/Images/course.png')
SET IDENTITY_INSERT [dbo].[Cources] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([ID], [Name], [Manager_ID]) VALUES (6, N'CSDepartment', 2)
INSERT [dbo].[Departments] ([ID], [Name], [Manager_ID]) VALUES (7, N'ISDepartment', 3)
INSERT [dbo].[Departments] ([ID], [Name], [Manager_ID]) VALUES (8, N'ITDepartment', 4)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessions] ON 

INSERT [dbo].[Lessions] ([ID], [Title], [SubTitle], [Content], [course_id]) VALUES (1, N'Lession 1', N'Output Method', N'via using echo method search about it.', 1)
INSERT [dbo].[Lessions] ([ID], [Title], [SubTitle], [Content], [course_id]) VALUES (2, N'Lession 1', N'Output', N'Console.WriteLine()', 3)
INSERT [dbo].[Lessions] ([ID], [Title], [SubTitle], [Content], [course_id]) VALUES (3, N'Lession 2', N'Control statment', N'if......else .... as you know', 3)
SET IDENTITY_INSERT [dbo].[Lessions] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([ID], [Email], [Content], [Time]) VALUES (4, N'S1@S1.com', N'this is message 1', N'Oct  8 2020 11:49PM')
INSERT [dbo].[Messages] ([ID], [Email], [Content], [Time]) VALUES (5, N'S2@S2.com', N'this is message 2', N'Oct  8 2020 11:49PM')
INSERT [dbo].[Messages] ([ID], [Email], [Content], [Time]) VALUES (6, N'S3@S3.com', N'this is message 3', N'Oct  8 2020 11:49PM')
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Pages] ON 

INSERT [dbo].[Pages] ([ID], [Title], [SubTitle], [Content]) VALUES (1, N'About', N'about us  ITI Academy', N'We are an educational institution that seeks to teach programming to students through free scholarships for students of the Faculties of Computer Science and Engineering. There are courses for graduates, but they are paid. We are ITI Assiut')
SET IDENTITY_INSERT [dbo].[Pages] OFF
GO
SET IDENTITY_INSERT [dbo].[Professors] ON 

INSERT [dbo].[Professors] ([ID], [Name], [City], [Salary], [Professor_Department_ID], [Roles], [Email], [Image]) VALUES (2, N'Hosny', N'Assuit', 6500, 6, N'Professors', N'Hosny@H.com', N'/Content/Images/default.png')
INSERT [dbo].[Professors] ([ID], [Name], [City], [Salary], [Professor_Department_ID], [Roles], [Email], [Image]) VALUES (3, N'Taser', N'Assuit', 7500, 7, N'Professors', N'Taser@AbdelHamed.com', N'/Content/Images/default.png')
INSERT [dbo].[Professors] ([ID], [Name], [City], [Salary], [Professor_Department_ID], [Roles], [Email], [Image]) VALUES (4, N'Nagoa', N'Assuit', 6500, 8, N'Professors', N'Nagoa@Nagoa.com', N'/Content/Images/default.png')
SET IDENTITY_INSERT [dbo].[Professors] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([ID], [Name], [City], [Level], [BirthYear], [Student_Department_ID], [Student_Professor_supervisior_ID], [Image], [Email], [Roles]) VALUES (1, N'SallamRady', N'Sohag', 3, 1999, 7, 3, N'/Content/Images/default.png', N'sallam@test.com', N'Students')
INSERT [dbo].[Students] ([ID], [Name], [City], [Level], [BirthYear], [Student_Department_ID], [Student_Professor_supervisior_ID], [Image], [Email], [Roles]) VALUES (2, N'MagdyAdel', N'Assuit', 4, 1998, 7, 3, N'/Content/Images/default.png', N'Magdy@Adel.com', N'Students')
INSERT [dbo].[Students] ([ID], [Name], [City], [Level], [BirthYear], [Student_Department_ID], [Student_Professor_supervisior_ID], [Image], [Email], [Roles]) VALUES (3, N'EmadMaher', N'Qena', 4, 1999, 8, 4, N'/Content/Images/default.png', N'Emad@Maher.com', N'Students')
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_Department_ID]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_Department_ID] ON [dbo].[Cources]
(
	[Course_Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_Professor_ID]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_Professor_ID] ON [dbo].[Cources]
(
	[Course_Professor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Manager_ID]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_Manager_ID] ON [dbo].[Departments]
(
	[Manager_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_course_id]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_course_id] ON [dbo].[Lessions]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Professor_Department_ID]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_Professor_Department_ID] ON [dbo].[Professors]
(
	[Professor_Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_Department_ID]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_Student_Department_ID] ON [dbo].[Students]
(
	[Student_Department_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_Professor_supervisior_ID]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_Student_Professor_supervisior_ID] ON [dbo].[Students]
(
	[Student_Professor_supervisior_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Course_ID]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_Course_ID] ON [dbo].[Students_Cources]
(
	[Course_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_ID]    Script Date: 10/12/2020 2:04:01 PM ******/
CREATE NONCLUSTERED INDEX [IX_Student_ID] ON [dbo].[Students_Cources]
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Professors] ADD  DEFAULT ('') FOR [Roles]
GO
ALTER TABLE [dbo].[Professors] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ('') FOR [Email]
GO
ALTER TABLE [dbo].[Students] ADD  DEFAULT ('') FOR [Roles]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Cources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cources_dbo.Departments_Course_Department_ID] FOREIGN KEY([Course_Department_ID])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[Cources] CHECK CONSTRAINT [FK_dbo.Cources_dbo.Departments_Course_Department_ID]
GO
ALTER TABLE [dbo].[Cources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cources_dbo.Professors_Course_Professor_ID] FOREIGN KEY([Course_Professor_ID])
REFERENCES [dbo].[Professors] ([ID])
GO
ALTER TABLE [dbo].[Cources] CHECK CONSTRAINT [FK_dbo.Cources_dbo.Professors_Course_Professor_ID]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Departments_dbo.Professors_Manager_ID] FOREIGN KEY([Manager_ID])
REFERENCES [dbo].[Professors] ([ID])
GO
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_dbo.Departments_dbo.Professors_Manager_ID]
GO
ALTER TABLE [dbo].[Lessions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Lessions_dbo.Cources_course_id] FOREIGN KEY([course_id])
REFERENCES [dbo].[Cources] ([ID])
GO
ALTER TABLE [dbo].[Lessions] CHECK CONSTRAINT [FK_dbo.Lessions_dbo.Cources_course_id]
GO
ALTER TABLE [dbo].[Professors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Professors_dbo.Departments_Department_ID] FOREIGN KEY([Professor_Department_ID])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[Professors] CHECK CONSTRAINT [FK_dbo.Professors_dbo.Departments_Department_ID]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Departments_Student_Department_ID] FOREIGN KEY([Student_Department_ID])
REFERENCES [dbo].[Departments] ([ID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Departments_Student_Department_ID]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Professors_Student_Professor_supervisior_ID] FOREIGN KEY([Student_Professor_supervisior_ID])
REFERENCES [dbo].[Professors] ([ID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Professors_Student_Professor_supervisior_ID]
GO
ALTER TABLE [dbo].[Students_Cources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_Cources_dbo.Cources_Course_ID] FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Cources] ([ID])
GO
ALTER TABLE [dbo].[Students_Cources] CHECK CONSTRAINT [FK_dbo.Students_Cources_dbo.Cources_Course_ID]
GO
ALTER TABLE [dbo].[Students_Cources]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_Cources_dbo.Students_Student_ID] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Students] ([ID])
GO
ALTER TABLE [dbo].[Students_Cources] CHECK CONSTRAINT [FK_dbo.Students_Cources_dbo.Students_Student_ID]
GO
USE [master]
GO
