
@{
    ViewBag.Title = "Lession";
    Layout = "~/Areas/Site/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sx-12">
            <h1 style="text-align:center">@Model.Title</h1>
            <h4 style="text-align:center">@Model.SubTitle</h4>
            <p class="lead">@Model.Content</p>
        </div>
    </div>
</div>